.rodape {
    display: flex;
    gap: 32px;
    color: white;
    flex-direction: column;
    align-items: center;
    font-family: var(--fonte);
    background-color: var(--color-black-dark);
    padding: 32px;
}

